# Build output
target/

#IDE files
.idea/
*.iml
*.iws
*.ipr

# Maven wrapper
.mvn/
mvnw
mvnw.cmd

# Git
.git/
.gitignore
.gitattributes

# Docs
HELP.md
README.md

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files(secrets)
.env
.env.*
